h1 {
    color: pink;
    font-size: x-large;
}
.paragraph {
    color: red;
}
h2 {
    color:black;
    font-size: 100width;
}

ul,ol {
    font-style:italic;
    color:blue;
}

.lgbtq color{
    color: black;
}